<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mood Pulse</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikiticons.min.js"></script>
</head>

<body>
    <div class="uk-section">
        <div class="uk-container">
            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
                <div class="uk-navbar-left">
                    <img src="">

                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="/">Home</a></li>
                        <% if (loggedin) { %>
                            <li class="uk-parent"><a href="/new">Add Snapshot</a></li>
                            <li class="uk-parent"><a href="">Dashboard</a></li>
                            <li class="uk-parent"><a href="/logout">Logout</a></li>
                        <% } %>

                        <% if (!loggedin) { %>
                            <li class="uk-parent"><a href="/register">Register</a></li>
                            <li class="uk-parent"><a href="/login">Login</a></li>
                        <% } %>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="uk-section uk-background-muted">
        <div class="uk-container">

            <form method="post" action="/login" class="uk-grid-small" uk-grid>
                <div class="uk-width-1-2@s">
                    <input class="uk-input" name="email" type="text" placeholder="Email Address" required>
                </div>

                <div class="uk-width-1-2@s">
                    <input class="uk-input" name="userpass" type="password" placeholder="Password" required>
                </div>

                <div class="uk-width-1-4@s">
                    <div uk-form-custom>
                        <button class="uk-button uk-button-default uk-button-large">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>




</body>

</html>